.bg {
  &-grade2 {
    background: linear-gradient(135deg,#3d3325,#dcc999);
  }
  &-grade3 {
    background: linear-gradient(135deg,#3d3325,#FA5D00);
  }
  &-grade4 {
    background: linear-gradient(135deg,#3d3325,#F99200);
  }
  &-grade5 {
    background: linear-gradient(135deg,#111f2c,#113d5d);
  }
  &-grade6 {
    background: linear-gradient(135deg,#261331,#480d5d);
  }
  &-quGold {
    background: #FF5E00;
  }
  &-quPink {
    background: #FF00DD;
  }
  &-quBlue {
    background: #0054FF;
  }
  &-quGreen {
    background: #09AE09;
  }
  &-quOrange {
    background: #A78300;
  }
  &-quRed {
    background: #FF0000;
  }
}