.bg {
  &-grade2 { // 고대
    background: linear-gradient(135deg,#3d3325,#dcc999);
  }
  &-grade3 { // 유물
    background: linear-gradient(135deg,#3d3325,#FA5D00);
  }
  &-grade4 { // 전설
    background: linear-gradient(135deg,#3d3325,#F99200);
  }
  &-grade5 { // 영웅
    background: linear-gradient(135deg,#261331,#480d5d);
  }
  &-grade6 { // 희귀
    background: linear-gradient(135deg,#111f2c,#113d5d);
  }
  &-grade7 { // 에스더
    background: linear-gradient(135deg,#0c2e2c,#2faba8);
  }
  // 실린 캐릭터 프로필 background
  &-purple-rg {
    transition: all 1s ease-out 0s;
    background: radial-gradient(50% 50% at 50% 50%, rgba(200, 19, 236, 0.6) 0%, rgba(255, 105, 0, 0) 100%);
  }
  // return 값으로 style 적용시 안되는 오류가 있어서 같은 이름으로 설정해둠
  &-gold3 {
    background: #FF5E00;
  }
  &-pink1 {
    background: #FF00DD;
  }
  &-blue2 {
    background: #0054FF;
  }
  &-green1 {
    background: #09AE09;
  }
  &-orange1 {
    background: #A78300;
  }
  &-red1 {
    background: #FF0000;
  }
}

// 카드 테두리
.bg-position {
  &_legend {
    background-position: 80.15%, 0;
  }
  &_hero {
    background-position: 60.05%, 0;
  }
  &_rare {
    background-position: 39.95%, 0;
  }
  &_high {
    background-position: 19.85%, 0;
  }
  &_normal {
    background-position: 0%, 0;
  }
}

// 카드 각성 단계 표시
.cLeft {
  &-0 {
    left: -0%;
  }
  &-20 {
    left: -20%;
  }
  &-40 {
    left: -40%;
  }
  &-60 {
    left: -60%;
  }
  &-80 {
    left: -80%;
  }
  &-100 {
    left: -100%;
  }
}

.scroll-none::-webkit-scrollbar  {
  display: none;
  -ms-overflow-style: none;  /* IE and 엣지 */
  scrollbar-width: none;  /* 파이어폭스 */
}

.transition {
  &-02 {
    transition: all ease 0.1s 0s;
  }
}